//ヘッダー
.exhibition-header {
  height: 100px;
  background-color: #fff;
  padding-top: 40px;
  &__logo {
    text-align: center;
    a {
      img {
        width: 200px;
        height: 50px;
      }
    }
  }
}
//フッター
.exhibition-footer {
  background-color: black;
  padding: 40px 0px;
  color: #fff;
  .terms {
    width: 500px;
    margin: 0 auto 10px;

    ul {
      display: flex;
      li {
        font-size: 15px;
        margin-right: 20px;
      }
    }
  }
  a {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  p {
    text-align: center;
  }
}
//出品画面
.exhibition-main {
  padding: 50px 200px;
  background-color: #3ccace;
  &__inner {
    background-color: #fff;
    .exhibition-errors {
      ul {
        li {
          list-style: none;
          color: red;
        }
      }
    }
    .form__top {
      text-align: center;
      font-size: 30px;
      border-bottom: 1px solid black;
      font-weight: bold;
      padding: 20px 0px;
    }
    .sell__block {
      padding: 30px 150px;
      &__form {
        margin-top: 30px;
        &__name {
          font-size: 20px;
          font-weight: bold;
          .require {
            font-size: 15px;
            background-color: red;
            color: white;
          }
          .optional {
            font-size: 15px;
            font-weight: normal;
          }
        }
        &__text {
          width: 620px;
          height: 40px;
        }
        &__textarea {
          width: 620px;
          height: 300px;
        }
        &__box {
          width: 620px;
          height: 40px;
        }
        &__price {
          width: 620px;
          display: flex;
          justify-content: space-between;
          &__name {
            font-size: 20px;
            font-weight: bold;
            .require {
              font-size: 15px;
              background-color: red;
              color: white;
            }
          }
        }

        p {
          font-size: 15px;
        }
        #image-box {
          #previews {
            img {
              margin-right: 20px;
            }
          }
          .js-file_group {
            margin-bottom: 10px;
            display: flex;
            .js-remove {
              background-color: #3ccace;
              color: white;
              width: 50px;
              text-align: center;
              cursor: pointer;
            }
          }
        }
      }
      .form-btn {
        width: 300px;
        height: 50px;
        margin: 50px auto 0px;
        .btn-red {
          display: block;
          width: 100%;
          height: 100%;
          background-color: red;
          color: #eee;
          border: 1px solid red;
          cursor: pointer;
        }
      }
      .listing-form-box {
        margin-top: 20px;
        .listing-product-detail__category {
          .listing-default__label {
            font-size: 20px;
            font-weight: bold;
          }
          .listing-default--require {
            font-size: 15px;
            background-color: red;
            color: white;
          }
          .listing-select-wrapper {
            &__box {
              .listing-select-wrapper__box--select {
                width: 620px;
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
}
