.notification {
  text-align: center;
  &__notice {
    background-color: lightblue;
    color: white;
    text-align: center;
  }

  &__alert {
    background-color: orange;
    color: white;
    text-align: center;
  }
}