//フッター
.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .content__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        li a {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  .footer__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
  .footer p {
    font-size: 14px;
    text-decoration: none;
  }
  .searchBtn {
    width: 120px;
    background: #3ccace;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    .searchBtn__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
  }
}

//ヘッダー
.pcHeader {
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a {
          width: 140px;
          display: block;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      &__searchBox {
        margin-left: auto;
        width: 100%;
        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .searchBox__input {
            height: 36px;
            width: calc(100% - 26px);
            padding: 0 0 0 5px;
            border: 1px solid black;
          }
          button {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3ccace;
            padding: 8px;
            .searchBox__icon {
              img {
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
    }
    &__nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      .listLeft__item--first {
        text-decoration: none;
        padding: 0;
      }
      &__left {
        position: relative;
        display: flex;
        &__item {
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          > a {
            text-decoration: none;
            color: black;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
          .displayNone {
            display: none;
          }
          .tree {
            z-index: 2;
            position: absolute;
            background-color: #fff;
            width: 240px;
            top: 40px;
            .categoryTree {
              background-color: #fff;
              display: flex;
              flex-direction: column;
              position: relative;
              &__item {
                > a {
                  line-height: 40px;
                  display: block;
                  width: 240px;
                  padding: 3px 8px 3px 5px;
                  border-bottom: 1px solid #f8f8f8;
                }
              }
              li {
                position: relative;
                > a {
                  color: #333;
                  text-decoration: none;
                  line-height: 32px;
                  background-position: center right;
                  background-repeat: no-repeat;
                  background-size: 18px;
                  padding-right: 30px;
                }
              }
            }
          }
        }
      }
      &__right {
        margin-left: auto;
        display: flex;
        &__item {
          color: black;
          line-height: 38px;
          padding: 0 0 0 16px;
          > a {
            display: flex;
            align-items: center;
            color: black;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}

//メイン
.main {
  background: #f8f8f8;
  .mainVisual {
    height: 560px;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        > a {
          margin-right: 10px;
        }
        img {
          width: 180px;
          height: 60px;
        }
      }
    }
  }
  .topIntroduction {
    padding: 60px 20px;
    .subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict {
          position: relative;
          margin-bottom: 20px;
          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3ccace;
            color: #fff;
          }
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3ccace;
          }
        }
        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .topMiddleDl {
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .btn {
        display: flex;
        > a {
          margin-right: 10px;
          > img {
            width: 200px;
            height: 60px;
          }
        }
      }
    }
  }
  .topKeyFeatures {
    padding: 60px 100px;
    background-color: #fff;
    .head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 45%;
        transition: translateX(-50%);
      }
    }
    .items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item {
        display: flex;
        flex-direction: column;
        width: 25%;
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .pickupContainer {
    padding: 80px 0;
    background-color: #f8f8f8;
    height: 100%;
    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productBox {
      .productHead {
        text-align: center;
        a {
          font-size: 24px;
          text-decoration: none;
          color: #3ccace;
          h3 {
            font-weight: bold;
          }
        }
      }
      .productLists {
        width: 780px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        a {
          text-decoration: none;
          position: relative;
        }
        .productList {
          width: 220px;
          display: inline-block;
          .items-box_photo__sold {
            width: 0;
            height: 0;
            border-top: 60px solid #ea352d;
            border-right: 60px solid transparent;
            border-bottom: 60px solid transparent;
            border-left: 60px solid #ea352d;
            z-index: 100;
            position: relative;
            .items-box_photo__sold__inner {
              transform: rotate(-45deg);
              font-size: 28px;
              margin: -35px 0px 0px -55px;
              color: #fff;
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
          a {
            background-color: #fff;
            display: inline-block;
            .productList--img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .productList--body {
              background-color: white;
              color: #333;
              padding: 16px;
              .name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
//バーナー
.appBanner {
  background-image: image-url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      > a {
        margin-right: 10px;
        > img {
          width: 200px;
          height: 60px;
        }
      }
    }
  }
}

//出品ボタン
.purchaseBtn {
  width: 120px;
  background-color: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
  }
}

.productmain {
  background-color: #f8f8f8;
  .showMain {
    padding: 40px;
    margin: 0 auto;
    .contentRight {
      width: 700px;
      margin: 0 auto;
      .topContent {
        .itemBox {
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body {
            margin: 16px 0 0;
            .up-image {
              display: flex;
              position: relative;
              .slide-image{
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                position: relative;
                img {
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                }
                .sold-band {
                  width: 0;
                  height: 0;
                  border-top: 60px solid #ea352d;
                  border-right: 60px solid transparent;
                  border-bottom: 60px solid transparent;
                  border-left: 60px solid #ea352d;
                  z-index: 100;
                  position:absolute;
                  top:0;
                  left:0;
                  .sold-band-inner {
                    transform: rotate(-45deg);
                    font-size: 25px;
                    margin: -35px 0px 0px -55px;
                    color: #fff;
                    letter-spacing: 2px;
                    font-weight: 600;
                  }
                }
              }
            }
            .down-image{
              display: flex;
              justify-content: center;
              margin-top: 10px;
              width:100%;
              .thumbnail-image{
                display: flex;
                width: 25%;
                margin: 0 10px 5px 5px;
                img {
                  object-fit: cover;
                  height: 87px;
                  vertical-align: bottom;
                  width: 100%;
                }
              }
            }
          }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            > span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            .itemBox__price-detail {
              font-size: 16px;
            }
          }
          .itemDetail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .table {
            margin-bottom: 20px;
            table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tbody {
                tr {
                  th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  td {
                    width: 61%;
                    padding: 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    > a {
                      text-decoration: none;
                      color: #3ccace;
                    }
                  }
                }
              }
            }
          }
          
          .optionalArea {
            display: flex;
            justify-content: space-between;
            ul {
              margin: 10px 0 0;
              display: flex;
              a {
                text-decoration: none;
                .none {
                  margin-right: auto;
                  padding: 6px 10px;
                  border-radius: 40px;
                  color: #3ccace;
                  border: 1px solid #ffb340;
                }
                .already {
                  margin-right: auto;
                  padding: 6px 10px;
                  border-radius: 40px;
                  background-color: #3ccace;
                  color: white;
                }
              }
              .buyBtn {
                margin-right: auto;
                padding: 6px 30px;
                border-radius: 40px;
                background-color: red;
                > a{
                  text-decoration: none;
                  color: white;
                }

              }
            }
            .optional {
              .optionalBtn {
                a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                }
              }
            }
          }
          .userBtn {
            margin-top: 20px;
            > a{
              border: 1px solid #272727;
              border: 1px solid #272727;
              border-radius: 40px;
              font-size: 16px;
              padding: 20px 70px;
              text-decoration: none;
              cursor: pointer;
            }
            &__delete {
              background-color: red;
              color: white;
            }
            &__edit {
              background-color: #3ccace;
              color: white;
            }
          }
        }
        .edit-deleteBox{
          background-color:#fff;
          padding-top:8px;
          padding-bottom:8px;
          margin-top:10px;
          margin-bottom:10px;

          .submit-btn{
            line-height: 48px;
            font-size:14px;
            text-align: center;
            display:block;
            color:white;
            margin:8px 16px;
          }
          .submit-btn-blue{
            background-color: #3CCACE;
          }
          .submit-btn-gray{
            background-color: #aaa;
          }
          p{
            text-align: center;
          }
        }
        .commentBox {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          .comments{
            margin-bottom:10px;
            .one-message{
              display:flex;
              line-height:50px;
              margin-bottom:10px;
              width:100%;
              .message-userName{
                width:100px;
                margin-right:15px;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
                .user-link{
                  text-decoration: none;
                }
              }
              .speech-bubble{
                max-width:80%;
                .message-text{
                  position: relative;
                  display: inline-block;
                  padding: 5px 15px 5px 15px;
                  width: auto;
                  min-width: 70px;
                  min-height:40px;
                  max-height: 300px;
                  line-height: 25px;
                  border: 3px solid #3CCACE;
                  z-index: 0;
                  border-radius: 10px;
                  display: flex;
                  -webkit-align-items: center;
                  align-items: center;
                }
                .message-text:before{
                  border-style: solid;
                  border-width: 10px 10px 10px 0;
                  border-color: transparent #ffffff transparent transparent;
                  content: "";
                  position: absolute;
                  top: 50%; left: -8px;
                  margin-top: -9px;
                  display: block;
                  width: 0px;
                  height: 0px;
                  z-index: 0;
                }
                .message-text:after{
                  border-style: solid;
                  border-width: 11px 11px 11px 0;
                  border-color: transparent #3CCACE transparent transparent;
                  content: "";
                  position: absolute;
                  top: 50%; left: -12px;
                  margin-top: -10px;
                  display: block;
                  width: 0px;
                  height: 0px;
                  z-index: -1;
                }
              }
            }
          }
          form {
            display: block;
            textarea {
              width: 100%;
              min-height: 104px;
              padding:5px;
            }
            .noticeMsg {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .comment-btn{
              text-align: center;
              .cannot-comment{
                line-height: 48px;
                background-color: #aaa;
                border: 1px solid #aaa;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
                margin: 0 auto;
                margin-top:20px;
                text-align: center;
              }
              button {
                line-height: 48px;
                background-color: #3ccace;
                border: 1px solid #3ccace;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
                margin-top: 10px;
                text-align: center;
              }
            }
          }
        }
      }
      .links {
        li {
          float: left;
          a {
            text-decoration: none;
            color: #3ccace;
          }
        }
        li:last-child {
          float: right;
        }
      }
      .relatedItems {
        a {
          display: block;
          margin: 40px 0 8px;
          color: #3ccace;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}
//検索結果
.searchContents {
  background-color: #f8f8f8;
  &__inner {
    display: flex;
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    padding: 20px 0px;
    .detailSearch {
      width: 300px;
      .detailSearch__title {
        h1 {
          text-align: center;
          font-size: 20px;
        }
      }
      .detailSearch__box {
        margin-bottom: 20px;
        &__label {
          display: flex;
          p {
            margin-left: 5px;
          }
        }
        .text-box {
          width: 100%;
        }
        &__forms {
          display: flex;
          justify-content: space-around;
          input {
            width: 40%;
          }
          h3 {
            font-size: 25px;
          }
        }
        &__checkboxs {
          display: flex;
          flex-wrap: wrap;
          &__checkbox {
            margin-right: 20px;
          }
        }
      }
      &__btn {
        display: flex;
        justify-content: space-around;
        &__clear {
          a {
            display: block;
            width: 100px;
            height: 60px;
            background-color: red;
            cursor: pointer;
            text-decoration: none;
            color: #ffffff;
            line-height: 60px;
            margin: 0 auto;
            text-align: center;
          }
        }
        input {
          display: block;
          width: 100px;
          height: 60px;
          background-color:#3ccace;
          border: #3ccace;
          cursor: pointer;
          text-decoration: none;
          color: #ffffff;
          line-height: 60px;
          margin: 0 auto;
          text-align: center;

        }
      }
    }
    .resultContents {
      width: calc(100% - 300px);
      h1 {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
      }
      ul {
        cursor: pointer;
        padding: 20px;
        a {
          text-decoration: none;
          color: black;
          li {
            background-color: #f8f8f8;
            padding: 10px 0px;
            height: 60px;
            .contentImg {
              height: 60px;
              width: 60px;
              margin-right: 20px;
              float: left;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .contentBody {
              float: left;
            }
            .arrow {
              float: right;
              line-height: 60px;
            }
            &:hover {
              background-color: #3ccace;
              opacity: 0.6;
          }
          }
        }
      }
    }
  }
}