.purchase {
  background-color: #f5f5f5;
  &__main{
    background-color: white;
    width: 50vw;
    margin: 0 auto; 
    &__title{
      height: 10vh;
       text-align: center;
       line-height: 10vh;
       border: 1px solid #f5f5f5;
       font-size: 30px;
    }
    &__item {
      display: flex;
      justify-content: space-around;
      height: 22vh;
      &__image{
        margin: 0 auto;
        &__box{
        }
      }
      &__ul{
        width: 30vw;
        &__name{
          margin-top: 10px;
          height: 12vh;
          font-size: 21px;
        }
        &__price{
          margin-right: 40px;
          height: 4vh;
          &__num{

          }
        }
        &__komi {
          font-size: 10px;
        }
      }
    }
    &__value{
      height: 10vh;
      border: 1px solid #f5f5f5;
      
      &__ul {
        display: flex;
        justify-content: space-around;
        line-height: 10vh;
        font-size: 23px;
      }
    }
    &__credit_card{
      height: 11vh;
      padding-top: 3vh;
      text-align: center;
    }
    &__shipping{
      border: 1px solid #f5f5f5;
      padding-left: 10px;
      padding-bottom: 20px;
      &__word {
        text-align: center;
      }
      &__user {
        width: 40vw;
        font-size: 14px;
        border: 1px solid lightgray;
        margin: 0 auto 10px;
        padding-left: 10px;
        border-radius: 10px;
      }
      &__address {
        width: 40vw;
        font-size: 14px;
        border: 1px solid lightgray;
        margin: 0 auto 10px;
        padding-left: 10px;
        border-radius: 10px;
      }
      &__info {
        width: 40vw;
        font-size: 14px;
        border: 1px solid lightgray;
        margin: 0 auto ;
        padding-left: 10px;
        border-radius: 10px;
      }
    }
    &__decsion{
      height: 10vh;
      margin: 5vh auto 0;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
      &__btn{
        background-color: #3CCACE;
        height: 5vh;
        width: 50vw;
        text-decoration: none;
      }
    }
    &__move{
      text-align: center;
      &__a{
        text-decoration: none;
        color: #3CCACE;
        font-size: 16px;
      }
      &__b{
        text-decoration: none;
        color: #ea352d;
      }
    }
  }
}

.done {
  background-color: #f5f5f5;
  text-align: center;
  border: 10px solid #f5f5f5;
  &__box{
    width: 50vw;
    height: 40vh;
    margin: 0 auto;
    background-color: white;
    &__message {
      font-size: 30px;
      line-height: 30vh;
    }
    &__link {
      text-decoration: none;
      background-color: #3CCACE;
      color: white;
      padding: 8px 20px;
    }
  }
}