.registrations {
  background-color: #f5f5f5;
  &__b{
    margin: 0 auto;
    width: 50vw;
    background-color: white;
    &__title {
    font-size: 30px;
    text-align: center;
    color: grey;
    border: 1px solid lightgray
    }
  }
}

.d_field{
  text-align: center;
  &__title{
    font-size: 15px;
  }
  &__box{
    width: 30vw;
    height: 4vh;
  }
}

.d_field_name {
  text-align: center;
  position: relative;
  width: 50vw;
  height: 10vh;
  margin-bottom: 10px;
  &__a { 
    position: absolute;
    left: 10vw;
    &__inp {
      width: 14vw;
      height: 4vh;
    }
  }
  &__b { 
    position: absolute;
    right: 10vw;
    &__inp {
      width: 14vw;
      height: 4vh;
    }
  }
}

.d_field_name2 {
  text-align: center;
  position: relative;
  width: 50vw;
  height: 10vh;
  margin-bottom: 10px;
  &__a { 
    position: absolute;
    left: 10vw;
    &__inp {
      width: 14vw;
      height: 4vh;
    }
  }
  &__b { 
    position: absolute;
    right: 10vw;
    &__inp {
      width: 14vw;
      height: 4vh;
    }
  }
}

.need_user_info { 
  font-size :7px; 
  color: red;
}


.regi_actions{
  text-align: center;
  &__btn{
  height: 6vh;
  width: 30vw;
  background-color:#3CCACE;
  font-size: 20px;
  color: white;
  }
}

.devise__render {
  font-size: 12px;
  color: #0099e8;
  text-decoration: none;
  text-align: center;
}

.sign_up_comp {
  text-align: center;
  font-size: x-large;
  height: 25vh;
  border: 1px solid lightgray;
  padding-top: 15vh;
  &__btn {
    text-decoration: none;
    height: 6vh;
    width: 25vw;
    background-color: #3CCACE;
    color: white;
    font-size: medium;
    padding: 10px;
  }
}
