.user-mein-body {
  background-color: #f8f8f8;
  .default-container {
    background-color: #f8f8f8;
    .bread-crumbs {
      position: relative;
      border-top: 1px solid #eee;
      background: #f5f5f5;
      -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
      background: #fff;
      z-index: 1;
      .mypage-top-tabs {
        color: black;
        font-size: 18px;
        display: flex;
        height: 42px;
        background-color: white;
        padding: 16px 0 0 40px;
        .mypage-top-tab {
          text-decoration: none;
          color: black;
        }
      }
    }
    .l-container.clearfix {
      margin: 40px auto 0;
      width: 1020px;
      background-color: white;
      display: flex;
      .l-side {
        float: left;
        width: 350px;
        margin: 0 40px 0 0;
        background-color: white;
        .mypage-nav-list {
          list-style: none;
          background-color: white;
          .side-bar {
            font-weight: 600;
            padding: 10px 0 10px 20px;
          }
          .mypage-nav-list-item {
            text-decoration: none;
            color: #333;
            border-style: solid;
            border-width: 0;
            padding: 10px 0 10px 20px;
            border-top: 1px solid #eee;
            position: relative;
            display: block;
          }
        }
      }
      .l-content {
        font-size: 25px;
        width: calc(100vw - 350px);
        h1 {
          text-align: center;
        }
        .l-content-box {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          a {
            text-decoration: none;
            font-size: 20px;
            margin-right: 20px;
            margin-top: 20px;
            .bought-item {
              background-color: #f8f8f8;
              height: 250px;
              width: 300px;
              &__name {
                color: black;
                text-align: center;
              }
              &__img {
                width: 200px;
                height: 200px;
                margin: auto;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
