// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.exhibition-header{
  height:128px;
  width:100%;
  text-align: center;

  h1{
    display:inline-block;
    margin:11px 0 12px;

    .header-btn{
      height:33px;
      width:120px;
    }
  }
}

.exhibition-footer{
  height:250px;
  width:100%;
  text-align: center;
  padding:60px 0;
  background-color: #272727;
  color: white;

  .terms-lists{

    .terms{
      font-size: 12px;

      li{
        padding-bottom:16px;
      }
    }
  }
  .footer-btn{
    max-width:160px;
    width:100%;
    margin:0 auto;
  }
}