.exhibition-footer
  .terms-lists
    %ul.terms
      %li プライバシーポリシー
      %li furima利用規約
      %li 特定商取引に関する規約
  = link_to root_path, class: "footer_btn" do
    = image_tag asset_path("logo-white.png"), alt: "furima", class: "footer-btn"
  %p
    %small ©️FURIMA