
= form_with url: purchase_product_path do
  %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript", "data-text" => "購入する", :class =>"payjp-button", "data-key"="Rails.application.credentials.dig(:payjp_public_key)"}
